body {
  background-color: yellowgreen;
  padding: 2vh 2vw;
}

.all {
  display: flex;
  flex-direction: row;
}

.app {
  height: 95vh;
  width: 48vw;
  display: flex;
  flex-direction: column;
  background-color: white;
}

@media screen and (max-width: 480px) {}

.text {
  font-size: 2.5vh;
  font-family: sans-serif;
}

#desc-wrapper {
  padding: 0 10px;
  text-align: center;
  background-color: aquamarine;
  width: 30vw;
}

.give-hint-wrapper {
  margin: 2% 2%;
}

.main-part-wrapper {
  min-width: 100%;
  min-height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: violet;
}

/* .give-hint-wrapper {
  background-color: silver;
} */

#hint-button {
  width: 100%;
}

input {
  height: 5vmin;
  width: 25%;
  border-radius: 3px;
  border: none
}

button {
  min-height: 5vmin;
  width: 25%;
  text-align: center;
  font-size: 2vmin;
  height: auto;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

#int-area {
  width: 100%;
  height: auto;
  padding: 2% 0;
  display: flex;
  justify-content: space-evenly;
  background-color: blue;
}

.disable {
  display: none;
}